In [6]:
#Write a python program to Display all Numbers within a range except the Prime numbers

a = int(input("Enter lower limit : "))
b = int(input("Enter upper limit : "))

for number in range(a,b+1):
    count = 0
    
    for divider in range(2,number//2+1):
        if number%divider == 0:
            count+=1
    if count >= 1:
        print(number,end=" ")

Enter lower limit :  1
Enter upper limit :  30

4 6 8 9 10 12 14 15 16 18 20 21 22 24 25 26 27 28 30

In [25]:
#Use a for loop to calculate the sum of all numbers from 1 to 100.

total_sum = 0

for num in range(1, 101):
  total_sum += num

print(f"The sum of numbers from 1 to 100 is: {total_sum}")

The sum of numbers from 1 to 100 is: 5050

In [35]:
#Use a for loop to calculate the sum of all odd numbers from 1 to 100.
n = 0

for i in range(1, 101, 2):
    n += i

print(f"The sum of odd numbers from 1 to 100 is: {n}")

The sum of odd numbers from 1 to 100 is: 2500

In [29]:
#Write a for loop to find the maximum number in a list.
def find_max(num_list):
  
  if not num_list: 
    return None

 
  max_num = num_list[0]


  for num in num_list[1:]:
    if num > max_num:
      max_num = num

  return max_num


numbers = [5, 10, 3, 1, 22]
largest_number = find_max(numbers)

if largest_number is not None:
  print(f"The maximum number in the list is: {largest_number}")
else:
  print("The list is empty.")

The maximum number in the list is: 22

In [40]:
#Use a for loop to calculate the factorial of a given number

n = int(input("Enter a number : "))
fact = 1
for i in range(1,n+1):
    fact = fact * i

print("Factorial of",n,"is",fact)

Enter a number :  5

Factorial of 5 is 120

In [7]:
#Create a for loop to iterate over a string and count the number of vowels
word = str(input("please enter your name : "))
count = 0
vow = ["a","A","e","E","i","I","o","O","u","U"]
for i in word:
    if i in vow:
        count +=1
print("there are",count,"vowels","in word"," ")

please enter your name :  shreyas

there are 2 vowels in word

In [56]:
#Write a program to display all the numbers which are divisible by 11 but not by 2 between 100 and 500.
result = []
for i in range(100, 500): 
    if i % 11 == 0 and i % 2 != 0: 
        result.append(i) 
 
print(result)

[121, 143, 165, 187, 209, 231, 253, 275, 297, 319, 341, 363, 385, 407, 429, 451, 473, 495]

In [38]:
#Use a for loop to find the common elements between two lists.
list1 = [1, 2, 3, 4, 6,10]
list2 = [1, 4, 8, 22]
list3 = []

for i in list1:
    if i in list2:
        list3.append(i)

print("The common elements are : ",list3)

The common elements are :  [1, 4]

In [42]:
#Create a for loop to iterate over a dictionary and print the keys and values
my_dict = {"name": "Chandni", "age": 27, "city": "Vadodara"}

for key, value in my_dict.items():
  print(f"Key: {key}, Value: {value}")

Key: name, Value: Chandni
Key: age, Value: 27
Key: city, Value: Vadodara

In [37]:
#Write a for loop to print the first 10 even numbers
n = int(input("Enter the range : "))
for i in range(n):
  print(2 * i + 2)

Enter the range :  10

2
4
6
8
10
12
14
16
18
20

In [65]:
#Create a for loop to iterate over a list and print each element
a = ["chandni", "shreyas", "patel"]
for i in list(a):
    print(i)

chandni
shreyas
patel

In [8]:
#Use a for loop to remove duplicates from a list
list1 = [1, 2, 3, 4, 3, 3, 4, 7, 8, 99, 5]
list2 = []
  
for item in list1:
    if item not in list2:
      list2.append(item)

print(list2)

[1, 2, 3, 4, 7, 8, 99, 5]

In [7]:
#Create a for loop to iterate over a list of numbers and find the sum of all positive numbers.
l = [1, 2, 3, -5, 0.05, 23]
sum = 0
for i in l:
    if i > 0:
        sum += i

print(f"The sum of positive numbers is: {sum}")

The sum of positive numbers is: 29.05

In [9]:
#Write a for loop to print a pattern of stars in the shape of a triangle.
n = 5

for i in range(1, n + 1):
        for j in range(n - i):
            print(" ", end="")
        for k in range(1, 2*i):
            print("*", end="")
        print("")

    *
   ***
  *****
 *******
*********

In [2]:
#Write a for loop to print a pattern of stars in the shape of a square and write your initial latter in square.

a = int(input("Enter the size of the square: "))
for i in range(a):
  for j in range(a):
    if i == 0 or i == a - 1 or j == 0 or j == a - 1:
      print("*", end=" ")
    elif i == 2 and j == 2:
        print("c", end=" ") 
 #elif (a in (1,2,3,4)) and (col in (0,4)):
           #print("*", end=" ")
    else:
      print(" ", end=" ")
  
  print()

Enter the size of the square:  5

* * * * *
*       *
*   c   *
*       *
* * * * *